body {
  @apply p-2;

  --lx-gray-01: #eee;
  --lx-gray-02: #ddd;
  --lx-gray-03: #ccc;
  --lx-gray-06: #aaa;
  --lx-accent-10: #0096ff;
}

.wp-tile-layout-root {
  @apply h-[calc(100vh-30px)] bg-amber-100;
}

.wp-tile-layout.flex {
  @apply !flex;
}

.wp-tile-layout-view {
  @apply w-full;
}