.wp-tile-layout-root {
  @apply relative w-full h-[calc(100vh-48px)];

  background-color: var(--lx-gray-03);
}

.wp-tile-layout {
  @apply h-full relative grid;
  @apply relative overflow-auto outline-none;

  border-width: 1px;
  border-color: var(--lx-gray-06);
  background-color: var(--lx-gray-01);

  &:focus, &:focus-within {
    /*background-color: var(--lx-gray-02);*/
  }
}

.wp-tile-layout-view-placeholder {
  @apply h-full w-full flex;
}
.wp-tile-layout.as-col {
  > div.wp-tile-layout {
    @apply border-r-2;

    &:last-child {
      @apply border-r-0;
    }
  }
}

.wp-tile-layout.as-row {
  > div.wp-tile-layout {
    @apply border-b-2;

    &:last-child {
      @apply border-b-0;
    }
  }
}
