.wp-tile-layout-root {
  @apply relative w-full h-[calc(100vh-48px)] border-2 border-amber-600;

  background-color: var(--lx-gray-03);
}

.wp-tile-layout {
  @apply border-amber-600 active:ring-purple-600 active:ring-2 ring-green-600;
  @apply h-full relative;
  @apply grid relative focus:bg-green-200;
  @apply relative overflow-auto;

  background-color: var(--lx-gray-01);

  &:focus, &:focus-within {
    background-color: var(--lx-gray-03);

    > .wp-tile-layout-view {
      border-color: var(--lx-accent-10);
    }
  }
}

.wp-tile-layout-view-placeholder {
  @apply h-full w-full flex;
}
.wp-tile-layout.as-col {
  > div.wp-tile-layout {
    @apply border-r-2;

    &:last-child {
      @apply border-r-0;
    }
  }
}

.wp-tile-layout.as-row {
  > div.wp-tile-layout {
    @apply border-b-2;

    &:last-child {
      @apply border-b-0;
    }
  }
}
