body[data-page="x-route"] {
  .cp__sidebar-main-content {
    @apply !max-w-none;

    > .pb-24 {
      @apply !pb-0 !mb-0;
    }
  }

  #main-content-container {
    @apply !p-0;
  }
}

.wp-tile-label-text {
  @apply text-xs right-10 top-3;
}

.wp-tile-layout-view {
  @apply h-full w-full overflow-auto;

  &:focus-within {
  }
}

.wp-tile-layout {
  &.flex {
    @apply !flex pt-[40px];
  }
}

.wp-tile-layout-toolbar {
  button {
    @apply opacity-80 hover:opacity-100 active:opacity-70;
  }
}

.wp-tile-layout {
  .wp-tile-layout-toolbar {
    transition: background-color 0.2s;
    transition-delay: 32ms;
  }

  &:focus {
    .wp-tile-layout-toolbar {
      background-color: var(--lx-gray-06);
    }
  }
}

.wp-tile-layout-view {
  &:focus, &:focus-within {
    & ~ .wp-tile-layout-toolbar {
      background-color: var(--lx-gray-06);
    }
  }

  .page {
    @apply px-2;
  }
}